.transparent-text {
  color: transparent;
}
.small-text {
  font-size: 12px; 
}



.inner-shadow-button {
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}
.card-equal-height{
  height: 100%
}
.card-hover-shadow:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}
.custom-card-title {
  font-size: 1.25rem;
  margin: 0; 
}

.custom-card-subtitle {
  font-size: 1rem;
  margin: 0; 
}

.custom-card-footer {
  padding: 10px; 
}


.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
}



.card1-hover:hover {
  box-shadow: 1px 1px 5px rgba(0, 150, 0, 0.5); 
  transition: box-shadow 0.3s ease-in-out;
}

.card2-hover:hover {
  box-shadow: 1px 1px 5px rgba(200, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}


.cursor-pointer {
  cursor: pointer;
}