
.sticky-div {
  padding: 20px;
}

.sticky {

  margin-top: 55px; 
  margin-left: -53px;
}
.not-sticky{
  gap: 26px,
}
.replace-sticky{
  padding: 35px
}
.sticky-custom-width-btn {
  width: 80px; 
  margin-left:0px;
  padding:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-width-btn {
  width: 80px; 
  margin-right:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px; 
  padding-left: 15px; 
}


@media screen and (max-width: 285px) {
  body {
    .mobile-extra{
      display: flex;
      width: 60px;
      font-size: 10px;
      justify-content: center;
      align-items: center;
    }
  }
}

